.container{
    height: 500px;
    color: white;
    padding: 10px;
    background-color: grey;
    display: grid;
    grid-template: auto auto / auto auto auto;
    /* grid-gap: 10px; */
    /* align-items: center;
    justify-items: center; */
    justify-content: space-evenly;
    align-content: flex-start;
}

.r1{
    background-color: red;
}
.r2{
    background-color: violet;
}
.r3{
    background-color: yellowgreen;
}
.rect{
    width: 100px;
    /* height: 100px; */
}